/**
Common maps (used by all themes)
**/
$alpha: .2;

// Soft color variants (adjust alpha as needed)
$theme-colors-soft: (
  "primary-soft": rgba($primary, $alpha),
  "secondary-soft": rgba($secondary, $alpha),
  "success-soft": rgba($success, $alpha),
  "info-soft": rgba($info, $alpha),
  "warning-soft": rgba($warning, $alpha),
  "danger-soft": rgba($danger, $alpha),
  "light-soft": rgba($light, $alpha),
  "dark-soft": rgba($dark, $alpha)
);

$display-font-sizes: (
  1: 2.25rem,
  2: 2rem,
  3: 1.75rem,
  4: 1.5rem,
  5: 1.25rem,
  6: 1rem
);
