/**
Common maps (used by all themes)
**/
$tint: 70;

// Soft color variants (adjust alpha as needed)
$theme-colors-soft: (
  "primary-soft": tint-color($primary, $tint),
  "secondary-soft": tint-color($secondary, $tint),
  "success-soft": tint-color($success, $tint),
  "info-soft": tint-color($info, $tint),
  "warning-soft": tint-color($warning, $tint),
  "danger-soft": tint-color($danger, $tint),
  "light-soft": tint-color($light, $tint),
  "dark-soft": tint-color($dark, $tint)
);

$display-font-sizes: (
  1: 2.25rem,
  2: 2rem,
  3: 1.75rem,
  4: 1.5rem,
  5: 1.25rem,
  6: 1rem
);
