/**
Common styles (used by all themes)
**/

// Generate CSS variables in :root
:root {
  @each $name, $color in $theme-colors-soft {
    --bs-#{$name}: #{$color};
  }
}

// Generate Soft color classes
@each $name, $color in $theme-colors-soft {
  .bg-#{$name} {
    background-color: var(--bs-#{$name}) !important;
  }

  .text-#{$name} {
    color: var(--bs-#{$name}) !important;
  }
}

// Generate grays scale colors:
.text-gray-100 {
  color: var(--bs-gray-100) !important;
}

.text-gray-200 {
  color: var(--bs-gray-200) !important;
}

.text-gray-300 {
  color: var(--bs-gray-300) !important;
}

.text-gray-400 {
  color: var(--bs-gray-400) !important;
}

.text-gray-500 {
  color: var(--bs-gray-500) !important;
}

.text-gray-600 {
  color: var(--bs-gray-600) !important;
}

.text-gray-700 {
  color: var(--bs-gray-700) !important;
}

.text-gray-800 {
  color: var(--bs-gray-800) !important;
}

.text-gray-900 {
  color: var(--bs-gray-900) !important;
}

/* gray backgrounds */
.bg-gray-100 {
  background-color: var(--bs-gray-100) !important;
}

.bg-gray-200 {
  background-color: var(--bs-gray-200) !important;
}

.bg-gray-300 {
  background-color: var(--bs-gray-300) !important;
}

.bg-gray-400 {
  background-color: var(--bs-gray-400) !important;
}

.bg-gray-500 {
  background-color: var(--bs-gray-500) !important;
}

.bg-gray-600 {
  background-color: var(--bs-gray-600) !important;
}

.bg-gray-700 {
  background-color: var(--bs-gray-700) !important;
}

.bg-gray-800 {
  background-color: var(--bs-gray-800) !important;
}

.bg-gray-900 {
  background-color: var(--bs-gray-900) !important;
}

// text-bg-*-subtle
@each $color, $value in $theme-colors-bg-subtle {
  .text-bg-#{$color}-subtle {
    color: color-contrast($value) if($enable-important-utilities, !important, null);
    background-color: $value if($enable-important-utilities, !important, null);
  }
}


// Body

// Button
.btn-primary,
.btn-success {
  color: white !important;
}

@each $color, $value in $theme-colors-soft {
  .btn-#{$color} {
    @include button-variant($value, $value);
    color: shade-color($value, 70%);
    // --#{$prefix}btn-focus-shadow-rgb: #{to-rgb($value)};
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    --#{$prefix}btn-border-color: #{tint-color($value, 40%)};
    --#{$prefix}btn-hover-border-color: #{tint-color($value, 40%)};
    --#{$prefix}btn-hover-color: #{shade-color($value, 10%)};
    --#{$prefix}btn-hover-bg: #{tint-color($value, 80%)};
  }
}



.btn-outline-secondary {
  // --#{$prefix}btn-border-color: #{shade-color($secondary, 20)};
  --#{$prefix}btn-color: #{shade-color($secondary, 40%)};
  --#{$prefix}btn-hover-color: #{shade-color($secondary, 50%)};
}


// Breadcrumb
:dir(rtl) .breadcrumb-item+.breadcrumb-item::before {
  transform: rotate(180deg) !important;
  padding-right: unset !important;
  padding-left: var(--bs-breadcrumb-item-padding-x);
}

.breadcrumb-item {
  &.active {
    color: $primary !important;
  }

  a {
    color: var(--bs-body);

    &:hover {
      color: $primary !important;
    }
  }
}

.breadcrumb-item+.breadcrumb-item::before {
  color: $breadcrumb-divider-color !important;
}

// Container
.content-container {
  @include make-container(4rem);
}

// Code

// pre
pre {
  font-family: $font-family-base !important;
}

// $code-color: inherit;

// Headings

// Input
// input::placeholder {
//   color: #636674 !important;
// }

// Display

// Breadcrumb
// .breadcrumb-item + .breadcrumb-item::before {
//   color: var(--bs-text-color) !important;
// }

// Forms

// Form Switch

// Form Control

// Shadow

//Card
.card {
  box-shadow: $box-shadow;

  .card {
    // box-shadow: none;
  }
}

// .card {}
// .card-title,
// .card-subtitle,
// .alert-heading {
//   margin-bottom: 1rem;
// }

// Modal
.modal {
  .modal-footer {
    justify-content: flex-end !important;
  }
}

// List Group

// Table
table {

  td,
  th {
    vertical-align: middle;
  }

  thead tr th {
    color: var(--bs-heading-color) !important;
  }

  tbody tr td {
    // border-bottom-style: dashed !important;
  }

  tbody {
    td.actions-column {
      text-align: left;
    }
  }
}

// badge
// .badge {
//   font-size: inherit !important;
// }

// Alert

// Links
a {
  // color: var(--bs-text-color) !important;
  transition: color 0.3s;
}

hr {
  color: $card-border-color !important;
  opacity: 1;
}