// Hide numeric Up/Down spinners
/* Chrome, Safari, Edge, Opera */
input.hide-spinners::-webkit-outer-spin-button,
input.hide-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.border-dashed {
  border-style: dashed !important;
}

.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}