/**
Light Theme 1 Color Variables
**/

// ------------------------ Custom Variables (Not Bootstrap-specific) ------------------------
$body-background-image: linear-gradient(#efefef96 1px, transparent 1px), linear-gradient(to right, #efefef96 1px, transparent 1px);
$body-background-size: 32px 32px;

// ------------------------ Utilities ------------------------
// Colors
$primary: #1B84FF !default;
$secondary: #d1d1d1 !default;
$success: #17C653 !default;
$info: #8E33FF !default;
$warning: #FFAB00 !default;
$danger: #FF5630 !default;
$light: #EBF8F4 !default;
$dark: #0a0d2c !default;
$secondary-text-emphasis: darkgray !default;

$body-bg: #faf8fa !default;
// $body-bg: shade-color(white, 10%);
$body-color: #4c4d50 !default;


$headings-color: #0b0a12 !default;

$primary-text-emphasis:   shade-color($primary, 60%) !default;
$secondary-text-emphasis: shade-color($secondary, 60%) !default;
$success-text-emphasis:   shade-color($success, 60%) !default;
$info-text-emphasis:      shade-color($info, 60%) !default;
$warning-text-emphasis:   shade-color($warning, 60%) !default;
$danger-text-emphasis:    shade-color($danger, 60%) !default;
// $light-text-emphasis:     $gray-700;
// $dark-text-emphasis:      $gray-700;

// Background
$primary-bg-subtle: tint-color($primary, 80%) !default;
$secondary-bg-subtle: tint-color($secondary, 20%) !default;
$success-bg-subtle: tint-color($success, 80%) !default;
$info-bg-subtle: tint-color($info, 80%) !default;
$warning-bg-subtle: tint-color($warning, 80%) !default;
$danger-bg-subtle: tint-color($danger, 80%) !default;
// $light-bg-subtle: mix($gray-200, $white);
// $dark-bg-subtle: $gray-400;


// ------------------------ End of Utilities ------------------------


// ------------------------ Components ------------------------
// Breadcrumb
$breadcrumb-divider-color: #66676b !default;
$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$breadcrumb-divider-color}'/></svg>");
// $breadcrumb-font-size:              null;
// $breadcrumb-padding-y:              0;
// $breadcrumb-padding-x:              0;
// $breadcrumb-item-padding-x:         .5rem;
// $breadcrumb-margin-bottom:          1rem;
// $breadcrumb-bg:                     null;
$breadcrumb-active-color: var(--#{$prefix}primary) !default;
// $breadcrumb-divider-flipped:        $breadcrumb-divider;
// $breadcrumb-border-radius:          null;

// Shadow
$box-shadow: 0 0 2px 0px rgb(163, 135, 228) !default;

// Alert

// Badge

// Border
$border-color: #ececec !default;
$border-color-translucent: $border-color !default;

//Card
$card-bg: white !default;
$card-cap-bg: #F5F8F9 !default;
$card-box-shadow: $box-shadow !default;
$card-border-color: $border-color !default;
// $card-title-color: $headings-color !default;
$card-border-width: 0 !default;


// Code
// $code-color: inherit;

// Display

// Button

// Forms

// Form Switch

// Form Control
$input-bg: rgb(0 0 0 / 1%) !default;
$input-border-color: rgb(0 0 0 / 8%) !default;

// List Group
// $list-group-color: transparent !important;
// $list-group-color:                  var(--#{$prefix}body-color);
$list-group-bg: trnsparent !default;
$list-group-border-color: trnsparent !default;
// $list-group-hover-bg:               var(--#{$prefix}tertiary-bg);
// $list-group-active-color:           $component-active-color;
$list-group-active-bg: var(--bs-primary-soft) !default;
// $list-group-active-border-color:    $list-group-active-bg;
// $list-group-disabled-color:         var(--#{$prefix}secondary-color);
// $list-group-disabled-bg:            $list-group-bg;
// $list-group-action-color:           var(--#{$prefix}secondary-color);
// $list-group-action-hover-color:     var(--#{$prefix}emphasis-color);
// $list-group-action-active-color:    var(--#{$prefix}body-color);
// $list-group-action-active-bg:       var(--#{$prefix}secondary-bg);

// Table
$table-bg: inherit !default;
$table-color: inherit !default;

// Modal

// ------------------------ End of Components ------------------------